h1, h2, h3, h4, h5, h6 {
	margin-top: 0;

	small {
		font-size: 65%;
	}
}

.has-error * {
	color: $danger;
	border-color: $danger;
}

.is-inline {
	display: inline;
}

.modal-body.is-overlay {
	width: calc(100% - 100px);
}

.is-fullwidth {
	width: 100%;
}

textarea.is-fullwidth {
	resize: vertical;
}

a.no-link {
	background-image: none;
	color: $primary;
}

.is-loading {
	opacity: .5;
	position: relative;

	&:after {
		content: '';
		border: solid 2px transparent;
		position: absolute;
		top: calc(50% - (5rem / 2));
		left: calc(50% - (5rem / 2));
		border-top-color: black;
		border-right-color: black;
		border-radius: 100%;
		width: 5rem;
		height: 5rem;
		animation: spin .5s infinite linear;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
