h1, h2, h3, h4, h5, h6 {
	margin-top: 0;

	small {
		font-size: 65%;
	}
}

.has-error * {
	color: $danger;
	border-color: $danger;
}

.is-inline {
	display: inline;
}

.modal-body.is-overlay {
	width: calc(100% - 100px);
}

.is-fullwidth {
	width: 100%;
}

textarea.is-fullwidth {
	resize: vertical;
}

a.no-link {
	background-image: none;
	color: $primary;
}
