.paper-btn {
	background-color: $main-background;
}

.option-availible {
	opacity: .5;
}

.play-container {
	margin: 10px auto 0;
	padding: 0 50px;

	h2 {
		margin-bottom: .5em;
	}
}

.play-space {
	width: 100%;
	display: flex;

	a {
		cursor: pointer;
	}
}

.play-list {
	flex: 0;
	max-width: 12rem;
	margin-right: 1rem;
}

.play-quest-list {
	@include border-style(1);
	margin-bottom: 1rem;
}

.play-resource-list {
	@include border-style(3);
}

.play-quest-list, .play-resource-list {
	padding: .25rem .75rem;

	ul {
		padding: 0;

		li {
			text-indent: 7px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			&.active {
				font-weight: bold;
				text-indent: 22px;

				&::before {
					content: "+";
				}
			}
		}
	}
}

.play-quest {
	flex: 1;
	display: flex;
	@include border-style(2);
	padding: .25rem 1rem;
}

.play-quest-list, .play-quest, .play-resource-list, .play-resource {
	background-color: lighten($primary, 65%);
	border: 2px solid $primary;
}

.play-quest-actions {
	float: right;
}

.play-step-list {
	flex: 3;

	.play-step-add {
		text-align: center;

		i {
			font-size: 1rem;
		}
	}
}

.play-step {
	&.state-done {
		opacity: .6;
	}

	&.state-in_progress {
		background-color: $secondary-light;
	}

	h4 {
		margin: 0;
	}
}

.play-comment-list {
	flex: 2;
	margin-left: .5rem;

	.play-comment {
		font-size: .85rem;

		&.type-event {
			background-color: $warning-light;
		}

		h5 {
			margin: 0;
		}

		.play-comment-step {
			position: fixed;
			display: none;
			width: 800px;
		}
	}

	.play-comment-add {
		text-align: center;

		i {
			font-size: 1rem;
		}
	}
}

.play-actions {
	a {
		background-image: none;
		color: $primary;
	}

	&.play-actions-dm {
		float: right;

		i {
			font-size: 1rem;
		}
	}
}

.play-step, .play-comment, .play-resource-description {
	border: 1.5px solid $primary;
	padding: .5rem 1rem;
	margin: .5rem 0;
	background-color: $main-background;
	overflow: hidden;

	&:nth-of-type(6n) {
		@include border-style(3);
	}

	&:nth-of-type(6n+1) {
		@include border-style(4);
	}

	&:nth-of-type(6n+2) {
		@include border-style(5);
	}

	&:nth-of-type(6n+3) {
		@include border-style(6);
	}

	&:nth-of-type(6n+4) {
		@include border-style(1);
	}

	&:nth-of-type(6n+5) {
		@include border-style(2);
	}

	.dm-content {
		background-color: $danger-light;
		margin: 0 -1rem -0.5rem -1rem;
		padding: 0 1rem .5rem 1rem;
	}
}

.play-resource {
	flex: 1;
	@include border-style(4);
	padding: .75rem 1.5rem;

	h4 {
		margin: 0;
	}
}
